:root{
    --cor0:whitesmoke;
    --cor1:black;
    --cor2:#0682c0;
    --cor3:#707070;
    --cor4:#151515;
    --cor5:#222;
     
    --fonte-padrao:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    color: var(--cor0);
    background-color: #707070;
    
}

* p{
    font-family:var(--fonte-destaque)
    

}
a {
    decoration: none;
    color: var(--cor0);
}
body {
    background-color: var(--cor1);
    max-width: 100%;
    margin: 0 auto;
}


/*SESSÃO ATUAL SOBRE MIM*/

main {
    background-color: var(--cor1);
    color:var(--cor0);

}

main .sobre{ 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding:40px;

}
h1{ font-family:var(--fonte-destaque);
    text-indent: 15%;
    text-shadow:  2px 2px rgba(255, 255, 255, 0.068) ;
    
}
h3, b{
    font-family:var(--fonte-destaque);
    
    text-shadow:  2px 2px rgba(255, 255, 255, 0.068) ;
}

.sobre_yuri{
    max-width: 85%;
}
.sobre_titulo{
    margin: -30px  0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--cor0);
    height: 0px;
}
.sobre_titulo:hover{
    font-size: 110%;

}

.sobre img{
    cursor:pointer;
    
    max-width: 500px;
  
}
.sobre img:hover{
    
    transition: .1s ease-in;
    filter: blur(1px);

}
.sobre_conteudo{
    animation: sobesecao .6s ease-in-out forwards;
    grid-column:2/-1;
    display: grid;
    color:var(--cor3);
    grid-template-columns: 1fr 1fr;
}
.sobre_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}
.sobre_texto h1{
    cursor: pointer;
    font-family: var(--fonte-padrao);
    padding: 10px;
    margin-left: 30%;
    margin-right: -10%;
    font-size: 48px;
    color:var(--cor0);
    grid-column: 1/-1;
    text-shadow:  2px 2px rgba(255, 255, 255, 0.247) ;
    
}
.sobre_texto h1:hover{
font-size: 56px;
transition: 500ms ease-out;

}

/*.sobre_texto li:hover::after{
   
}
*/
.sobre_texto h1::after{
    background-color: var(--cor2);
    height: 4px;
   
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p{
   
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
    text-align:justify;
    text-indent: 20px;
    
    
}
.sobre_info a{
    color: var(--cor3);
}
.sobre_info a:hover{
    color:var(--cor0);
}
.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}
.sobre_info i{
    color:var(--cor2);
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
.sobre_info p {
    font-family: var(--fonte-destaque);
    font-size: .9rem;

}

/*RESPONSIVO*/

.services {
        margin-top: -20px;
        padding: -20px;
        background-color: var(--cor4);

}

.my_services {
    display: block;
    padding: 60px;
    color:var(--cor0);

}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_services ul li {
    cursor: pointer;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: var(--cor5);
    border-radius:15px;
    align-content: center;
}

.my_services ul li i {
    color: var(--cor2);
    font-size: 2.7rem;
    

}

.my_services ul li h3{
    color:var(--cor0);
    font-size: 1.6rem;
   
}
.my_services ul li p{
    color:var(--cor3);
    font-size: 1.1rem;
}

.my_services li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 15px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right:2px solid transparent;

}

.my_services li::after{
    content: '';
    transition: .5s ease-in-out; 
    border-radius: 15px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left:2px solid transparent;

}
.my_services li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--cor2);
    border-right: 2px solid var(--cor2);
}

.my_services li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--cor2);
    border-left: 2px solid var(--cor2);
}
