:root {
    --cor0: whitesmoke;
    --cor1: black;
    --cor2: #0682c0;
    --cor3: #707070;
    --cor4: #151515;
    --cor5: #222;

    --fonte-padrao: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    color: var(--cor0);
    background-color: var(--cor3);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

p {
    font-family: var(--fonte-destaque);
}

a {
    text-decoration: none;
    color: var(--cor0);
}

body {
    background-color: var(--cor1);
    max-width: 100%;
    margin: 0 auto;
}

/* SESSÃO ATUAL SOBRE MIM */
main {
    background-color: var(--cor1);
    color: var(--cor0);
    padding: 20px;
}

main .sobre {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

h1 {
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.068);
}

.sobre_titulo {
    margin: -30px 0;
    text-align: center;
    color: var(--cor0);
}

.sobre img {
    cursor: pointer;
    max-width: 500px;
    border-radius: 50%;
}

.sobre_conteudo {
    color: var(--cor3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sobre_texto {
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 20px;
    font-size: 1.3rem;
}

.sobre_info a {
    color: var(--cor3);
}

.sobre_info a:hover {
    color: var(--cor0);
}

.sobre_info {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.sobre_info i {
    color: var(--cor2);
    font-size: 1.5rem;
}

.sobre_info p {
    font-family: var(--fonte-destaque);
    font-size: 0.9rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    main .sobre {
        flex-direction: column;
        align-items: center;
    }

    .imagem_yuri {
        order: -1; /* Move a imagem para cima */
    }

    .sobre img {
        max-width: 100%;
    }

    .sobre_conteudo {
        width: 100%;
        text-align: center;
    }

    .sobre_texto {
        text-indent: 0;
        font-size: 1rem;
    }
}
